@import "bootstrap/variables.less";

@import "bootstrap/mixins.less";

@import "angies-components.less";


// ------------------------------------------------
//
// FOUT
//
// ------------------------------------------------
.wf-loading {

	h1, h2, h3, h4, h5, h6, p, ul, ol, dl, span, a {
		.opacity(90);
		visibility: hidden;
	}
}

.wf-active { 

	h1, h2, h3, h4, h5, h6, p, ul, ol, dl, span, a {
		.opacity(100);
		visibility: visible;
	}
}


/* General */
.mb-0 { margin-bottom: 0; }
.mb-5 { margin-bottom: 5; }
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-50 { margin-bottom: 50px; }

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }

.ml-0 { margin-left: 0px; }

.mr-10 { margin-right: 10px; }

.pl-40 { padding-left: 40px; }

.no-margin { margin: 0; }
.no-padding { padding: 0; }


textarea {
	padding: 15px 12px;
	width: 270px;
	min-height: 80px;
}

.info-inline {
	color: #ec008c;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
}

.lightPink { color: #eb008c; }

.mini-layout {
	
	&.bg-pattern {
		padding: 20px;
		height: auto;
		background: url(../img/pattern-bg.png) repeat 0 0;
	}
	
	.row-fluid .span6 {
		
		img {
			float: right;
		}
	}
	
	p.head {
		font-size: 1.5em;
		font-weight: bold;
		line-height: 1.25em;
	}
	
	// Modules //
	
	&.articles {
		padding: 0;
		margin-bottom: 5px;
		width: 300px;
		height: 450px;
		
		.article-body {
			padding: 25px 30px;
		}
		
		&.horizontal {
			width: auto;
			height: 98px;
			.clearfix();
			
			.media-body {
				margin-top: 5px;
			}
		}
	} // .articles
	
	&.commerce {
		width: 550px;
		height: 50px;
		background: url(../img/pattern-bg.png) repeat 0 0;
		
		&.deal {
			padding: 0;
			width: 440px;
			height: 120px;
		}
		
		i {
			float: left;
		}
		
		p.pull-left {
			margin-right: 10px;
		}
	} // .commerce
	
	div.tag {
		.border-radius(0);
	}
	
	&.review-block {
		width: 300px;
	}
	
	div.al-grade {
		.border-radius(100px);
	}
} // .mini-layout

.grey { color: #7b7b7b; }
.medium-gray { color: @mediumGray; }

code.no-bg {
	border: 0px;
	padding: 2px 0px;
	background-color: transparent;
}

@borderColor: #E8E6DD;
@dkGrey:	#454545;
@midGrey: 	#7b7b7b;
@offWhite:	#fefefe;
@dkborderColor: #d5d0c3;

@btnBackgroundColor: #fafaf5;
@btnBorderColor: 	 #e8e6dd;
@btnTextColor:		 @darkGray;

@btnBackgroundColorHover: #fefefe;
@btnBorderColorHover:	  #b8b8b8;
@btnTextColorHover:		  @black;

@btnBackgroundColorActive:	#eae7db;

@inputBackgroundColorDisabled: #f8f6ef;


// Layout for Images, Components tab.
.docs-image {
	.clearfix();
	margin: 0 0 30px;
	
	img {
		float: left;
		margin-right: 20px;
	}
}

// Layout for Maps, Components tab.
.docs-custom-pin {
	
	table td:first-child {
		width: 150px;
		text-align: center;
	}
	
	// Unfloat.
	.grade {
		float: none;
		margin: 0 0 0 -16px;
	}
}

// ------------------------------------------------
//
// Triangle (left / right).
//
// ------------------------------------------------

// Mimic the Bootstrap `.caret`.
.left-caret,
.right-caret {
	display: inline-block;
	.size(0, 0);	
	border-top: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid rgba(0, 0, 0, 0);
	content: "";
}

.left-caret {
	border-right: 5px solid #000;
}

.right-caret {
	border-left: 5px solid #000;
}


// Top navbar.
.navbar-fixed-top {
	
	.nav > li > a {
		font-size: 17px;
		font-weight: 600;
	}
}


// ------------------------------------------------
//
// Grades, The Basics tab.
//
// ------------------------------------------------

span.grade {
	display: inline-block;
	.size(40px, 40px);
	.box-shadow(inset 0 2px 1px rgba(0, 0, 0, 0.2));
	.border-radius(100px);
	color: @white;
	font-family: @serifFontFamily;
	font-size: 26px;
	font-weight: 700;
	line-height: 41px;	// To align exactly in the center.
	text-align: center;

	&.a {
		background-color: @lighterGreen;
	}
	
	&.b {
		background-color: @angiesGreen;
	}
	
	&.c {
		background-color: @darkGray;
	}
	
	&.d {
		background-color: #525252;
	}
	
	&.f {
		background-color: @black;
	}
	
	&.na {
		background-color: #9c9c9c;
		font-size: 16px;
	}
	
	&.featured {
		.size(100px, 100px);
		font-size: 70px;
		line-height: 100px;				
	}
	
	&.sm {
		.size(26px, 26px);
		font-size: 16px;
		line-height: 27px;		// To align exactly in the center.

		&.na {
			font-size: 10px;
		}
	}
	
	&.inline {
		display: inline;
		background-color: transparent;
		.box-shadow(none);
		.border-radius(0);
		font-family: @sansFontFamily;
		font-size: inherit;
		line-height: inherit;	// Otherwise, this will follow `.grade` `line-height`.
		
		&.a {
			color: #4db346;	
		}
	}
}


// ------------------------------------------------
//
// Modal, Components tab.
//
// ------------------------------------------------

.modal {
	border: none;
}


// ------------------------------------------------
//
// Navbar, Components tab.
//
// ------------------------------------------------

// `.basic` to differentiate from the main top nav `.navbar`.
// The color palette is very similar to e.g. button groups, Components tab.
// Override styles in navbar.less.
.navbar.basic {
	
	.navbar-inner {
		min-height: auto;
		border-color: @borderColor;
		.border-radius(0);
		#gradient > .vertical(#FBFBF7, #F9F8F2);		
	}
	
	.nav > li > a {
		border-left: 1px solid @borderColor;
		padding: 15px 25px;
		color: #7b7b7b;
		text-shadow: none;
	}
	
	.nav > li:last-child > a {
		border-right: 1px solid @borderColor;
	}
	
	.nav > .active > a,
	.nav > .active > a:hover,
	.nav > .active > a:focus {
		background-color: #EAE7DB;
		.box-shadow(none);		
	}
}


// ------------------------------------------------
//
// Breadcrumbs, Components tab.
//
// ------------------------------------------------

// Override Bootstrap breadcrumbs.less.
.breadcrumb {
	background-color: transparent;
	.border-radius(0);
	
	> .active {
		color: @lightGray;
	}
}


// ------------------------------------------------
//
// Pagination, Components tab.
//
// ------------------------------------------------

.pagination {
	position: relative;
	// This is the same as .pagination-centered but I thought
	//   it'd be safe to assume we always want to center-align the pagination.
	text-align: center;

	> ul {
		.box-shadow(none);
		
		> .prev,
		> .next {
			position: absolute;
			top: 0;
		}
	
		> .prev {		
			left: 0;
			
			// For the caret / triangle.
			b {
				margin-right: 5px;
				border-right-color: @angiesGreen;
			}
		}
	
		.next {
			right: 0;
			
			b {
				margin-left: 5px;
				border-left-color: @angiesGreen;
			}
		}
	
		// Hovering an active pagination should not
		//   change its appearance.
		> li.active > a,
		> li.active > a:hover {
			padding: 1px 5px;
			border: 1px solid @borderColor;
			.border-radius(2px);
			background-color: #F9F8F2;			
			color: #7b7b7b;
		}
		
		> li > a {
			border: none;
			padding: 2px 6px;
			font-weight: 600;
			
			&:hover {
				border: none;
				background-color: @angiesGreen;				
				.border-radius(2px);
				color: #fff;
				
				// For the caret / triangle.
				b {
					border-right-color: @white;
					border-left-color: @white;
				}
			}						
		}				
	}	
}


// ------------------------------------------------
//
// Generic button styles, used by e.g.
//   button dropdown menu, button groups.
//
// ------------------------------------------------

.btn-group,
.btn-group.open {
	
	// The trigger, with caret next to it.
	.btn {
		border: 1px solid @btnBorderColor;
		background-color: @btnBackgroundColor !important;
		.box-shadow(none);
		color: @btnTextColor;
		
		&:hover {
			border-bottom: 1px solid @btnBorderColorHover;
			color: @btnTextColorHover;
		}
		
		&.active {
			background-color: @btnBackgroundColorActive !important;
			background-image: none;
			color: @btnTextColor;			
		}	
	}
}

// ------------------------------------------------
//
// Dropdown, Components tab.
//
// ------------------------------------------------


.dropdown-menu {
	// #fee892 is copied from the prototype.
	@linkColorHover: #fee892;
	
	> li {
	
		> a {
			color: @mediumGray;	
		}
		
		> a:hover {
			color: @darkGray;
			// Simpler to call `.vertical` than to clean up the gradient
			//   for different browser styles.			
			#gradient > .vertical(@linkColorHover, @linkColorHover);
		}
	}	
}

.btn-group {
	
	> .btn > .caret {
		margin-left: 30px;
	}
}

// ------------------------------------------------
//
// Button Groups, Components tab.
//
// ------------------------------------------------

.btn {
	
	> span.list,
	> span.map {
		padding: 2px 0 6px 28px;	// padding top + bottom + font size = icon height (22px)
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 0 0;
		line-height: 22px;
	}
	
	> span.list {
		background-image: url(../img/icn_list.png);
		background-position-y: 3px;
	}
		
	> span.map {
		background-image: url(../img/icn_map.png);
	}
}

// ////////////////////////////////////////////////
//
// Copied from Angie's Prototype
//
// Note that most of the styles have been modified
//   for the styleguide.
//
// //////////////////////////////////////////////// 

.recently-viewed{

	@bgColor :	#F8F6EF;
	@borderColor: #E8E6DD;
	@ltGrey: 	#c2c2c2;
	
	background-color: @bgColor;
	border:1px solid @borderColor;
	.border-radius(.5em);	
	padding:1.1em 1em 1.4em 1em;
	width: 300px;
	
	h5,p{ margin:0; }
	article{ 
		background:@offWhite;
		margin:0 0 .6em 0; 
		.border-radius(.3em);
		padding:1em;
		overflow:hidden;
	}
	
	h6{ margin:0 0 .4em 0; }
	img{ float:left; margin-right:.75em; }
	p{ margin:0; line-height:100%; }
	
	.left { float: left; }
	.right{ float: right; color:@ltGrey; }
	
	footer{
		text-align:right;
		padding:.75em 1em 0 0;
	}
}

// Single line text promo, Modules tab.
.row-promo-single {
	.clearfix();
	padding: 20px 0;
	
	i,
	p {
		float: left;
		margin-top: 2px;
	}
	
	i {
		margin-right: 5px;
	}
	
	p {
		color: @mediumGray;
		font-weight: 100;
		line-height: 35px;
		
		strong {
			color: @darkGray;
			font-weight: 600;
		}
		
		em {
			font-style: normal;
			font-weight: 600;			
		}
	}
	
	// For pixel-perfect location.
	button {
		position: relative;
		top: -2px;
		left: 3px;
	}
}

.row-promo-small {
	.clearfix();
	
	i {
		float: left;
		margin-right: 10px;
	}
	
	> div {
		float: left;
		
		a {
			font-weight: 600;
		}
		
		p {
			color: @mediumGray;
			font-weight: 100;
			
			em {
				font-style: normal;
				font-weight: 600;
			}
		}
	}
}

.row-promo{
	.clearfix();	// Because we float the text and button container.
	padding: 15px 20px;
	.border-radius(.5em);
	overflow:hidden;
	#gradient .vertical( #FFF0B4 , #FFE690);	
	
	// icon
	i {
		float: left;
		margin-right: 5px;
	}
	
	p {
		float: left;
		margin: 0;
		font-size: 18px;
		font-weight: 600;
		line-height: 35px;	// = icon height.
		
		strong {
			font-weight: 700;
		}
	}
	
	i,
	p {
		margin-top: 4px;
	}
	
	.cta-block {
		float: right;
		
		button {
			margin-left: 5px;
			font-weight: 700;
		}
	}
	
	// We actually don't need `tablet` and `mobile` classes because the media query should
	//   already take care of this, automatically when a certain width is reached.
	&.tablet,
	&.mobile {
		
		i {
			display: none;	
		}
			
		p,
		.cta-block {
			float: none;			
		}
		
		p {
			margin-bottom: 13px;
			line-height: 22px;
		}
				
		.cta-block {			
			clear: both;
			
			button {
				margin: 0;
			}
		}
	}
	
	&.tablet {
		
		p,
		.cta-block {
			text-align: center;
		}
	}
}

.box {
	.border-radius(5px);
	.size(80px, 180px);
	padding: 0 20px;
	color: @white;
	display: table;
	
	.box-content {
		display: table-cell;
		vertical-align: middle;
	}
	
	p {
		margin-bottom: 0;
	
		&.head {
			margin-bottom: 5px;
			font-size: 20px;
			font-weight: 700;
		}
	}
	
	&.angies-green {
		background-color: @angiesGreen;
	}
	
	&.darker-green {
		background-color: @darkerGreen;
	}
	
	&.lighter-green {
		background-color: @lighterGreen;
	}
	
	&.angies-yellow {
		background-color: @angiesYellow;
	}
	
	&.deals-purple {
		background-color: @dealsPurple;
	}
	
	&.medium-taupe {
		color: @darkGray;
		background-color: @mediumTaupe;
	}
	
	&.light-taupe,
	&.subtle-taupe,
	&.white {
		border: 1px solid #eae7db;
		color: @darkGray;
	}
	
	&.light-taupe {
		background-color: @lightTaupe;
	}
	
	&.subtle-taupe {
		background-color: @subtleTaupe;
	}
	
	&.black {
		background-color: @black;
	}
	
	&.dark-gray {
		background-color: @darkGray;
	}
	
	&.medium-gray {
		background-color: @mediumGray;
	}
	
	&.light-gray {
		background-color: @lightGray;
	}
	
	&.white {
		background-color: @white;
	}
	
	&.alert-red {
		background-color: @alertRed;
	}
} // box

[class*=" icn-"] {
	margin-top: 1px;
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 14px;
	vertical-align: text-top;
}

.icn {
	background-image: url(../img/icon-set.png);
	
	&.icn-ssa {
		.size(33px, 25px);
		background-position: 0 0;
	}
	
	&.icn-cash {
		.size(25px, 34px);
		background-position: -40px 0;
	}
	
	&.icn-deal {
		.square(22px);
		background-position: -80px 0;
	}
	
	&.icn-coup {
		.size(15px, 20px);
		background-position: 0 -59px;
	}
	
	&.icn-cal {
		.size(23px, 25px);
		background-position: -40px -60px;
	}
	
	&.icn-chat {
		.size(34px, 31px);
		background-position: -80px -60px;
	}
	
	&.icn-poh {
		.square(20px);
		background-position: 0px -120px;
	}
	
	&.icn-pen {
		.size(26px, 18px);
		background-position: -40px -120px;
	}
	
	&.icn-neighbour {
		.size(23px, 18px);
		background-position: -80px -120px;
	}
	
	&.icn-search-yellow {
		.square(34px);
		background-position: 0 -180px;
	}
	
	&.icn-search {
		.square(30px);
		background-position: -40px -180px;
	}
	
	&.icn-search-white {
		.square(15px);
		background-position: -80px -180px;
	}
	
	&.icn-acc-mobile {
		.size(21px, 23px);
		background-position: -140px 0;
	}
	
	&.icn-cart-mobile {
		.size(20px, 25px);
		background-position: -140px -60px;
	}
	
	&.icn-search-mobile {
		.square(17px);
		background-position: -140px -120px;
	}
	
	&.icn-location-mobile {
		.square(15px);
		background-position: -140px -180px;
	}
} // .icon

hr {

	&.w-50 {
		width: 50%;
	}
}


// ------------------------------------------------
//
// Form Elements, The Basics.
//
// ------------------------------------------------

// Override Bootstrap forms.less.

input {
	.placeholder(@mediumGray);
	
	&:-moz-placeholder {
		font-style: italic;
		font-weight: 100;
	}
  
	&:-ms-input-placeholder {
		font-style: italic;
		font-weight: 100;
	}
	
	&::-webkit-input-placeholder {
		font-style: italic;
		font-weight: 100;
	}
}

// Shared size and type resets
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	padding: 8px 12px;
	.border-radius(6px);
	font-size: 16px;
	line-height: 16px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	border: 1px solid @borderColor;
	.box-shadow(none);
	
	// Focus state
	&:focus {
		border-color: @lightGray;		
		.box-shadow(0 0 6px rgba(0,0,0,0.18));
	}
}

textarea {
	padding: 15px 12px;
	line-height: 22px;
}

// Inline and block help text.
.help-block,
.help-inline {
	color: @darkGray;
	font-weight: 100;	// Proxima Nova Light
}

// Invalid input, mixins.less.
.control-group.error {

	.control-label,
	.help-block,
	.help-inline {
		color: @alertRed;
	}

	input,
	select,
	textarea {
		border-color: @alertRed;
		color: @alertRed;

		&:focus {
			border-color: @alertRed;
			.box-shadow(0 0 6px rgba(226,67,30,0.5));
		}
	}
}

// Disabled input.
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	background-color: @inputBackgroundColorDisabled;
}


// ------------------------------------------------
//
// Notifications, The Basics.
//
// ------------------------------------------------

.bs-docs-example {
	
	.logged-in {
		border-bottom: 1px solid @darkerGreen;
	
		&:last-child {
			border-bottom: none;
		}
	}
}

.logged-in {
	padding: 20px;	
	background-color: @angiesGreen;
	text-align: right;
		
	a {
		margin: 0 0 0 2px;
		padding: 15px 10px;
		
		&:hover {
			text-decoration: none;
		}
	}
	
	// For downward caret / triangle.
	.caret {
		margin-left: 3px;
		border-top-color: @darkerGreen;
		vertical-align: middle;	
	}
	
	span {
		color: @white;
		font-weight: 400;
		
		&.notification {
			margin-right: 10px;
			.border-radius(5px);
			padding: 3px 8px;
			background-color: @alertRed;
			font-weight: bold;
			text-align: center;
			.box-shadow(0 1px 1px rgba(0, 0, 0, 0.25));
			
			&.yellow {
				color: @darkerGreen;
				background-color: @angiesYellow;
			}
			
			&.inactive {
				color: #7ac883;
				background-color: @darkerGreen;
				.box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.3));
			}
		}				
	}
	
	.mobile-icon {
		display: none;
		.size(21px, 27px);
		background-image: url(../img/icon-set.png);
		background-repeat: no-repeat;		
	
		&.profile-icon {
			background-position: 0 -240px;
		}
		
		&.cart-icon {
			background-position: -40px -240px;
			
			&.inactive {
				background-position: -80px -240px;
			}
		}		
	}
	
	// "Mobile" version i.e. narrower container.
	&.mobile {
		padding: 10px;
		
		a {
			padding: 0;
		}
		
		// Hide text.
		span.text {
			display: none;
		}
		
		span.notification {
			position: relative;
			top: -5px;
			margin: 0;
		}
		
		.mobile-icon {
			display: inline-block;
		}
	}
} // .logged-in

.modal-body {
	min-height: 260px;
}


.price-tag {

	.tag {
		float: left;
		background-image: url(../img/price-tag.png);
		.clearfix();
		
		&.left {
			.size (25px, 17px);
			background-position: 0 0;
			background-repeat: no-repeat;
		}
		
		&.mid {
			min-width: 35px;
			height: 25px;
			background-position: 0 -40px;
			background-repeat: repeat-x;
		}
		
		&.right {
			.size (25px, 6px);
			background-position: right 0;
			background-repeat: no-repeat;
		}
	} // .tag
	
	span {
		color: @white;
		font-size: 15px;
		font-weight: 700;
		display: inline-block;
		line-height: 25px;
	}
} // price-tag

p {

	&.deal-head {
		font-size: 18px;
		font-weight: 700;
		
		&.lh {
			line-height: 35px;
		}
	}
	
	&.art-head {
		color: @darkGray;
		font-size: 17px;
		font-weight: 400px;
		line-height: 18px;
	}
} // p

a.more {
	padding-right: 12px;
	background-image: url(../img/arrow-more.png);
	background-repeat: no-repeat;
	background-position: right 6px;
	color: @darkGray;
	display: inline-block;
	font-size: 13px;
}

.coupon-info {
	.clearfix();
	.border-radius(5px);
	margin-bottom: 30px;
	border: 1px solid #d7d3c6;
	padding: 5px 10px;
	width: 125px;
	height: 30px;
	line-height: 32px;
	color: @darkGray;
	background-color: #f6f6f2;
	position: relative;
	left: 138px;
	
	p {
		text-transform: uppercase;
	}
}

.coupon-area {
	width: 450px;
	background-color: @white;
	border: 1px solid #d7d3c6;
	.border-radius(6px);
	.box-shadow (0 5px 10px rgba(0, 0, 0, 0.3));
	position: relative;
	
	.arrow-coup {
		width: 25px;
		height: 22px;
		background-image: url(../img/arrow-up-coupon.png);
		position: absolute;
		top: -21px;
		left: 200px;
	}
	
	.coupon-header,
	.coupon-footer {
		padding: 9px 15px;
		background-color: #f6f6f2;
		border-bottom: 1px solid @lightGray;
	}
	
	.coupon-header {
		
		h4 {
			padding-left: 25px;
			background-image: url(../img/coup.png);
			background-repeat: no-repeat;
		}
	}
	
	.coupon-body {
		
		.dropdown {
		
			li {
				padding: 20px;
				
				&.divider {
					padding: 0;
				}
				
				.cta {
					display: table;
					
					> div {
						height: 45px;
						display: table-cell;
						vertical-align: middle;
					}
					
				}
			}
			
			.dropdown-menu {
				.border-radius(0);
				margin: 0;
				border: 0;
				padding: 0;
				.box-shadow(0 0 0 rgba(0, 0, 0, 0.2));
				display: block;
				position: static;
				
				p {
					margin-bottom: 0px;
					color: @black;
					font-size: 18px;
					font-weight: 600;
				}
				
				.coup-txt {
					width: 350px;
					height: 45px;
					display: table;
					
					p {
						display: table-cell;
						vertical-align: middle;
					}
				}
			}
		} // .dropdown
		
		.coupon-footer {
			border-top: 1px solid @lightGray;
			padding: 5px;
		}
	}
} // .coupon-area

.review-block {
	
	.date {
		float: right;
		color: @mediumGray;
		
	}
	
	.heading {
		margin-bottom: 20px;
		
		h4 {
			margin-bottom: 5px;
		}
	}
}

.review-title {
	font-size: 17px;
}

.al-grade {
	float: left;
	margin-right: 10px;
	width: 47px;
	height: 47px;
	display: inline-block;
	font-family: museo-slab;
	font-weight: 700;
	vertical-align: middle;
	.box-shadow(inset 0 2px 1px rgba(0, 0, 0, 0.2));
	
	&.large-grade {
		font-size: 18px;
	}
	
	&.grade-a {
		background-color: @lighterGreen;
	}
	
	p {
		color: @white;
		font-size: 32px;
		font-weight: bold;
		line-height: 45px;
		text-transform: uppercase;
		text-align: center;
	}
}

span.title {
	color: #454545;
	font-weight: 600;
}

p {
	
	&.overall {
		font-size: 15px;
		line-height: 20px;
	}
	
	&.date {
		height: 45px;
		line-height: 40px;
	}
}

.info-review {
	height: 388px;
	display: table-cell;
	vertical-align: middle;
}

.neighborhood-activity {
	
	.activity-item {
		border-bottom: 1px solid @grayLighter;
		padding: 15px 0 10px 0;
		
		&:last-child {
			border-bottom: 0;
		}
	}
	
	h3 {
		margin: 0;
		font-size: 20px;
		line-height: 23px;
	}
	
	p {
		margin-bottom: 2px;
		
		&.name {
			font-size: 15px;
			font-weight: 600;
		}
		
		span {
			font-weight: 400;
		}
		
		&.comp-name {
			font-size: 14px;
		}
		
		&.hour {
			margin-bottom: 15px;
		}
	}
	
} // .neighborhood-activity

ul.list-search {
	float: left;
	font-weight: 600;
	
	li {
		list-style: none;
		
		a {
			color: @black;
		}
	}
	
	.category-heading {
		margin-bottom: 5px;
		font-size: 17px;
		color: @angiesGreen;
	}
}

.alert {
	padding: 15px 35px 15px 20px;
	
	span {
		font-size: 14px;
	}
	
	h4 {
		font-family: @sansFontFamily;
		font-size: 18px;
		line-height: 25px;
	}
	
	.close {
		font-size: 30px;
		line-height: 30px;
	}
}

.alert,
.alert-block {
	border-color: @angiesYellow;
	color: @black;
	
	h4 {
		color: @black;
	}
}

.alert-error {
	border-color: @alertRed;
	color: @errorText;
}

.alert-success {
	border-color: @angiesGreen;
	color: @black;
}

.alert-info {
	background-color: @lightTaupe;
	border-color: @mediumTaupe;
	color: @black;
}