@import "bootstrap/variables.less";

@import "bootstrap/mixins.less";

/* General */
.mb-0 { margin-bottom: 0; }
.mb-5 { margin-bottom: 5; }
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-50 { margin-bottom: 50px; }

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }

.ml-0 { margin-left: 0px; }

.mr-10 { margin-right: 10px; }

.pl-40 { padding-left: 40px; }

.no-margin { margin: 0; }

textarea {
	padding: 15px 12px;
	width: 270px;
	min-height: 80px;
}

.info-inline {
	color: #ec008c;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	vertical-align: middle;
}

.lightPink { color: #eb008c; }

.mini-layout {
	
	&.bg-pattern {
		padding: 20px;
		height: auto;
		background: url(/assets/img/pattern-bg.png) repeat 0 0;
	}
	
	.row-fluid .span6 {
		
		img {
			float: right;
		}
	}
	
	p.head {
		font-size: 1.5em;
		font-weight: bold;
		line-height: 1.25em;
	}
	
	// Modules //
	
	&.articles {
		padding: 0;
		margin-bottom: 5px;
		width: 300px;
		height: 450px;
		
		.article-body {
			padding: 25px 30px;
		}
		
		&.horizontal {
			width: auto;
			height: 98px;
			.clearfix();
			
			.media-body {
				margin-top: 5px;
			}
		}
	} // .articles
	
	&.commerce {
		width: 550px;
		height: 50px;
		background: url(/assets/img/pattern-bg.png) repeat 0 0;
		
		&.deal {
			padding: 0;
			width: 440px;
			height: 120px;
		}
		
		i {
			float: left;
		}
		
		p.pull-left {
			margin-right: 10px;
		}
	} // .commerce
	
	div.tag {
		.border-radius(0);
	}
	
	&.review-block {
		width: 300px;
	}
	
	div.al-grade {
		.border-radius(100px);
	}
} // .mini-layout

.grey { color: #7b7b7b; }
.medium-gray { color: @mediumGray; }

code.no-bg {
	border: 0px;
	padding: 2px 0px;
	background-color: transparent;
}

@borderColor: #E8E6DD;
@dkGrey:	#454545;
@midGrey: 	#7b7b7b;
@offWhite:	#fefefe;
@dkborderColor: #d5d0c3;

// ------------------------------------------------
//
// Triangle (left / right).
//
// ------------------------------------------------

// Mimic the Bootstrap `.caret`.
.left-caret,
.right-caret {
	display: inline-block;
	.size(0, 0);	
	border-top: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid rgba(0, 0, 0, 0);
	content: "";
}

.left-caret {
	border-right: 5px solid #000;
}

.right-caret {
	border-left: 5px solid #000;
}


// ------------------------------------------------
//
// Grades, The Basics tab.
//
// ------------------------------------------------

span.grade {
	display: block;
	.size(40px, 40px);
	.box-shadow(inset 0 2px 1px rgba(0, 0, 0, 0.2));
	.border-radius(100px);
	color: @white;
	font-family: @serifFontFamily;
	font-size: 26px;
	font-weight: 700;
	line-height: 41px;	// To align exactly in the center.
	text-align: center;

	&.a {
		background-color: @lighterGreen;
	}
	
	&.b {
		background-color: @angiesGreen;
	}
	
	&.c {
		background-color: @darkGray;
	}
	
	&.d {
		background-color: #525252;
	}
	
	&.f {
		background-color: @black;
	}
	
	&.na {
		background-color: #9c9c9c;
		font-size: 16px;
	}
	
	&.featured {
		.size(100px, 100px);
		font-size: 70px;
		line-height: 100px;				
	}
	
	&.sm {
		.size(26px, 26px);
		font-size: 16px;
		line-height: 27px;		// To align exactly in the center.

		&.na {
			font-size: 10px;
		}
	}
	
	&.inline {
		display: inline;
		background-color: transparent;
		.box-shadow(none);
		.border-radius(0);
		font-family: @sansFontFamily;
		font-size: inherit;
		line-height: inherit;	// Otherwise, this will follow `.grade` `line-height`.
		
		&.a {
			color: #4db346;	
		}
	}
}

// ------------------------------------------------
//
// Navbar, Components tab.
//
// ------------------------------------------------

// `.basic` to differentiate from the main top nav `.navbar`.
// The color palette is very similar to e.g. button groups, Components tab.
// Override styles in navbar.less.
.navbar.basic {
	
	.navbar-inner {
		min-height: auto;
		border-color: @borderColor;
		.border-radius(0);
		#gradient > .vertical(#FBFBF7, #F9F8F2);		
	}
	
	.nav > li > a {
		border-left: 1px solid @borderColor;
		padding: 15px 25px;
		color: #7b7b7b;
		text-shadow: none;
	}
	
	.nav > li:last-child > a {
		border-right: 1px solid @borderColor;
	}
	
	.nav > .active > a,
	.nav > .active > a:hover,
	.nav > .active > a:focus {
		background-color: #EAE7DB;
		.box-shadow(none);		
	}
}


// ------------------------------------------------
//
// Breadcrumbs, Components tab.
//
// ------------------------------------------------

// Override Bootstrap breadcrumbs.less.
.breadcrumb {
	background-color: transparent;
	.border-radius(0);
	
	> .active {
		color: @lightGray;
	}
}


// ------------------------------------------------
//
// Pagination, Components tab.
//
// ------------------------------------------------

.pagination {
	position: relative;
	// This is the same as .pagination-centered but I thought
	//   it'd be safe to assume we always want to center-align the pagination.
	text-align: center;

	> ul {
		.box-shadow(none);
		
		> .prev,
		> .next {
			position: absolute;
			top: 0;
		}
	
		> .prev {		
			left: 0;
			
			// For the caret / triangle.
			b {
				margin-right: 5px;
				border-right-color: @angiesGreen;
			}
		}
	
		.next {
			right: 0;
			
			b {
				margin-left: 5px;
				border-left-color: @angiesGreen;
			}
		}
	
		// Hovering an active pagination should not
		//   change its appearance.
		> li.active > a,
		> li.active > a:hover {
			padding: 1px 5px;
			border: 1px solid @borderColor;
			.border-radius(2px);
			background-color: #F9F8F2;			
			color: #7b7b7b;
		}
		
		> li > a {
			border: none;
			padding: 2px 6px;
			font-weight: 600;
			
			&:hover {
				border: none;
				background-color: @angiesGreen;				
				.border-radius(2px);
				color: #fff;
				
				// For the caret / triangle.
				b {
					border-right-color: @white;
					border-left-color: @white;
				}
			}						
		}				
	}	
}


// ////////////////////////////////////////////////
//
// Copied from Angie's Prototype
//
// Note that most of the styles have been modified
//   for the styleguide.
//
// //////////////////////////////////////////////// 

.recently-viewed{

	@bgColor :	#F8F6EF;
	@borderColor: #E8E6DD;
	@ltGrey: 	#c2c2c2;
	
	background-color: @bgColor;
	border:1px solid @borderColor;
	.border-radius(.5em);	
	padding:1.1em 1em 1.4em 1em;
	width: 300px;
	
	h5,p{ margin:0; }
	article{ 
		background:@offWhite;
		margin:0 0 .6em 0; 
		.border-radius(.3em);
		padding:1em;
		overflow:hidden;
	}
	
	h6{ margin:0 0 .4em 0; }
	img{ float:left; margin-right:.75em; }
	p{ margin:0; line-height:100%; }
	
	.left { float: left; }
	.right{ float: right; color:@ltGrey; }
	
	footer{
		text-align:right;
		padding:.75em 1em 0 0;
	}
}

// Single line text promo, Modules tab.
.row-promo-single {
	.clearfix();
	padding: 20px 0;
	
	i,
	p {
		float: left;
		margin-top: 2px;
	}
	
	i {
		margin-right: 5px;
	}
	
	p {
		color: @mediumGray;
		font-weight: 100;
		line-height: 35px;
		
		strong {
			color: @darkGray;
			font-weight: 600;
		}
		
		em {
			font-style: normal;
			font-weight: 600;			
		}
	}
	
	// For pixel-perfect location.
	button {
		position: relative;
		top: -2px;
		left: 3px;
	}
}

.row-promo-small {
	.clearfix();
	
	i {
		float: left;
		margin-right: 10px;
	}
	
	> div {
		float: left;
		
		a {
			font-weight: 600;
		}
		
		p {
			color: @mediumGray;
			font-weight: 100;
			
			em {
				font-style: normal;
				font-weight: 600;
			}
		}
	}
}

.row-promo{
	.clearfix();	// Because we float the text and button container.
	padding: 15px 20px;
	.border-radius(.5em);
	overflow:hidden;
	#gradient .vertical( #FFF0B4 , #FFE690);	
	
	// icon
	i {
		float: left;
		margin-right: 5px;
	}
	
	p {
		float: left;
		margin: 0;
		font-size: 18px;
		font-weight: 600;
		line-height: 35px;	// = icon height.
		
		strong {
			font-weight: 700;
		}
	}
	
	i,
	p {
		margin-top: 4px;
	}
	
	.cta-block {
		float: right;
		
		button {
			margin-left: 5px;
		}
	}
	
	// We actually don't need `tablet` and `mobile` classes because the media query should
	//   already take care of this, automatically when a certain width is reached.
	&.tablet,
	&.mobile {
		
		i {
			display: none;	
		}
			
		p,
		.cta-block {
			float: none;			
		}
		
		p {
			margin-bottom: 13px;
			line-height: 22px;
		}
				
		.cta-block {			
			clear: both;
			
			button {
				margin: 0;
			}
		}
	}
	
	&.tablet {
		
		p,
		.cta-block {
			text-align: center;
		}
	}
}

.toggle-group{
	
	a{ 
		//.ib;
		.border-radius(0);
		padding-left:1.25em; padding-right:1.25em;
	}
	
	.active{
		@bg: #EAE7DB;
		@color: #585239;
		
		cursor:default;

		&:hover		{ color: @color; background-color: @bg; }
		&:active	{ color: @color; }
		
	}
	
	a:first-child{
		border-right:none;
		.border-radius( 0.4em 0 0 0.4em);
	}
	a:last-child{
		.border-radius( 0 0.4em 0.4em 0);
	}

	
	.flyout{ position:absolute; top:0; left:0; }
	
	
}

.list-btn .icon{ background-image: url(/assets/img/icn_list_inactive.png); }
.map-btn .icon{ background-image: url(/assets/img/icn_map_inactive.png); }

.active{
	&.list-btn .icon{ background-image: url(/assets/img/icn_list.png); }
	&.map-btn .icon{ background-image: url(/assets/img/icn_map.png); }
}

.list-btn, .map-btn{
	
	.icon{
		//.ib;
		//width:1.6em;
		line-height:160%;
		padding:0 0 0 1.6em;
		//height:1.8em;
		//margin:-.75em .4em -.4em -.5em;
		//margin: -.5em .25em -.5em -.5em;
		margin:-.6em 0 -.5em 0;
		
		vertical-align:middle;
		background-repeat: no-repeat;
		background-position: 0 50%;
		
	}
}

.ui-btn{
	border:1px solid @borderColor; 
	padding:.7em .6em .6em .65em;
	.border-radius(.3em);
	font-weight:600;
	font-size:150%;
	text-align:left;
	line-height:100%;
	
	.box-sizing(border-box);
	#gradient .vertical( #FBFBF7, #F9F8F2 );
	
	color: @midGrey;
	
	&:link		{ color: @midGrey; }
	&:visited	{ color: @midGrey; }
	&:hover		{ color: @dkGrey; background-color: @offWhite; border-color:@borderColor; }
	&:active	{ color: @dkGrey; }
	
	
	&.active{
		@bg: #EAE7DB;
		@color: #585239;
		background: @bg none;
		border-color:@dkborderColor;
		color: @color;
		
		&:hover{ color: @color; background-color: @bg; }
		
	}
	
}

/* ====The Basics===== */
.box {
	.border-radius(5px);
	.size(80px, 180px);
	padding: 0 20px;
	color: @white;
	display: table;
	
	.box-content {
		display: table-cell;
		vertical-align: middle;
	}
	
	p {
		margin-bottom: 0;
	
		&.head {
			margin-bottom: 5px;
			font-size: 20px;
			font-weight: 700;
		}
	}
	
	&.angies-green {
		background-color: @angiesGreen;
	}
	
	&.darker-green {
		background-color: @darkerGreen;
	}
	
	&.lighter-green {
		background-color: @lighterGreen;
	}
	
	&.angies-yellow {
		background-color: @angiesYellow;
	}
	
	&.deals-purple {
		background-color: @dealsPurple;
	}
	
	&.medium-taupe {
		color: @darkGray;
		background-color: @mediumTaupe;
	}
	
	&.light-taupe,
	&.subtle-taupe,
	&.white {
		border: 1px solid #eae7db;
		color: @darkGray;
	}
	
	&.light-taupe {
		background-color: @lightTaupe;
	}
	
	&.subtle-taupe {
		background-color: @subtleTaupe;
	}
	
	&.black {
		background-color: @black;
	}
	
	&.dark-gray {
		background-color: @darkGray;
	}
	
	&.medium-gray {
		background-color: @mediumGray;
	}
	
	&.light-gray {
		background-color: @lightGray;
	}
	
	&.white {
		background-color: @white;
	}
	
	&.alert-red {
		background-color: @alertRed;
	}
} // box

table.table-striped {
	
	td {
		height: 35px;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}
}

.icon {
	.square(35px);
	background-image: url(/assets/img/icon-set.png);
	
	&.icon-icn-ssa {
		background-position: 6px 1px;
	}
	
	&.icon-icn-cash {
		background-position: -40px 7px;
	}
	
	&.icon-icn-deal {
		background-position: -73px 5px;
	}
	
	&.icon-icn-coup {
		background-position: 8px -51px;
	}
	
	&.icon-icn-cal {
		background-position: -33px -54px;
	}
	
	&.icon-icn-chat {
		background-position: -80px -60px;
	}
	
	&.icon-icn-poh {
		background-position: 8px -113px;
	}
	
	&.icon-icn-pen {
		background-position: -31px -115px;
	}
	
	&.icon-icn-neighbour {
		background-position: -72px -115px;
	}
	
	&.icon-icn-search-yellow {
		background-position: 0px -180px;
	}
	
	&.icon-icn-search {
		background-position: -40px -180px;
	}
	
	&.icon-icn-search-white {
		background-position: -69px -170px;
	}
} // .icon

hr {

	&.w-50 {
		width: 50%;
	}
}

.bs-docs-example {

	&.notif {
		background-color: @angiesGreen;
		
		&.mobile {
			width: 400px;
			
			.logged-in {
				padding: 15px 20px 10px 0;
			}
			
			a {
				padding: 0 5px;
			}
			
			.notification {
				margin: 0;
				position: relative;
				top: -8px;
			}
		}
	}
}

.logged-in {
	border-bottom: 1px solid @lighterGreen;
	padding: 20px 20px;
	
	&:last-child {
		border-bottom: 0px;
	}
	
	a {
		margin: 0 0 0 2px;
		padding: 15px 10px;
		
		&:hover {
			text-decoration: none;
		}
	}
	
	span {
		color: @white;
		font-weight: 400;
		
		&.notification {
			margin-right: 10px;
			.border-radius(5px);
			padding: 3px 10px;
			background-color: @alertRed;
			font-weight: bold;
			text-align: center;
			.box-shadow(0 1px 1px rgba(0, 0, 0, 0.25));
			
			&.yellow {
				color: @darkerGreen;
				background-color: @angiesYellow;
			}
			
			&.inactive {
				color: #7ac883;
				background-color: @darkerGreen
			}
		}
		
		&.caret-down {
			margin-left: 10px;
			border-top-color: @darkerGreen;
			position: relative;
			top: 8px;
		}
	}
	
	.mobile-icon {
		.size(21px, 27px);
		background-image: url(/assets/img/icon-set.png);
		background-repeat: no-repeat;
		display: inline-block;
	
		&.profile-icon {
			background-position: 0 -240px;
		}
		
		&.cart-icon {
			background-position: -40px -240px;
		}
		
		&.cart-inactive-icon {
			background-position: -80px -240px;
		}
	}
} // .logged-in

.modal-body {
	min-height: 260px;
}

/* ====Modules===== */

.price-tag {

	.tag {
		float: left;
		background-image: url(/assets/img/price-tag.png);
		.clearfix();
		
		&.left {
			.size (25px, 17px);
			background-position: 0 0;
			background-repeat: no-repeat;
		}
		
		&.mid {
			min-width: 35px;
			height: 25px;
			background-position: 0 -40px;
			background-repeat: repeat-x;
		}
		
		&.right {
			.size (25px, 6px);
			background-position: right 0;
			background-repeat: no-repeat;
		}
	} // .tag
	
	span {
		color: @white;
		font-size: 15px;
		font-weight: 700;
		display: inline-block;
		line-height: 25px;
	}
} // price-tag

p {

	&.deal-head {
		font-size: 18px;
		font-weight: 700;
		
		&.lh {
			line-height: 35px;
		}
	}
	
	&.art-head {
		color: @darkGray;
		font-size: 17px;
		font-weight: 400px;
		line-height: 18px;
	}
} // p

a.more {
	padding-right: 12px;
	background-image: url(/assets/img/arrow-more.png);
	background-repeat: no-repeat;
	background-position: right 6px;
	color: @darkGray;
	display: inline-block;
	font-size: 13px;
}

.coupon-info {
	.clearfix();
	.border-radius(5px);
	margin-bottom: 30px;
	border: 1px solid #d7d3c6;
	padding: 5px 10px;
	width: 125px;
	height: 30px;
	line-height: 32px;
	color: @darkGray;
	background-color: #f6f6f2;
	position: relative;
	left: 138px;
	
	p {
		text-transform: uppercase;
	}
}

.coupon-area {
	width: 450px;
	background-color: @white;
	border: 1px solid #d7d3c6;
	.border-radius(6px);
	.box-shadow (0 5px 10px rgba(0, 0, 0, 0.3));
	position: relative;
	
	.arrow-coup {
		width: 25px;
		height: 22px;
		background-image: url(/assets/img/arrow-up-coupon.png);
		position: absolute;
		top: -21px;
		left: 200px;
	}
	
	.coupon-header,
	.coupon-footer {
		padding: 9px 15px;
		background-color: #f6f6f2;
		border-bottom: 1px solid @lightGray;
	}
	
	.coupon-header {
		
		h4 {
			padding-left: 25px;
			background-image: url(/assets/img/coup.png);
			background-repeat: no-repeat;
		}
	}
	
	.coupon-body {
		
		.dropdown {
		
			li {
				padding: 20px;
				
				&.divider {
					padding: 0;
				}
				
				.cta {
					display: table;
					
					> div {
						height: 45px;
						display: table-cell;
						vertical-align: middle;
					}
					
				}
			}
			
			.dropdown-menu {
				.border-radius(0);
				margin: 0;
				border: 0;
				padding: 0;
				.box-shadow(0 0 0 rgba(0, 0, 0, 0.2));
				display: block;
				position: static;
				
				p {
					margin-bottom: 0px;
					color: @black;
					font-size: 18px;
					font-weight: 600;
				}
				
				.coup-txt {
					width: 350px;
					height: 45px;
					display: table;
					
					p {
						display: table-cell;
						vertical-align: middle;
					}
				}
			}
		} // .dropdown
		
		.coupon-footer {
			border-top: 1px solid @lightGray;
			padding: 5px;
		}
	}
} // .coupon-area

.review-block {
	
	.date {
		float: right;
		color: @mediumGray;
		
	}
	
	.heading {
		margin-bottom: 20px;
		
		h4 {
			margin-bottom: 5px;
		}
	}
}

.review-title {
	font-size: 17px;
}

.al-grade {
	float: left;
	margin-right: 10px;
	width: 47px;
	height: 47px;
	display: inline-block;
	font-family: museo-slab;
	font-weight: 700;
	vertical-align: middle;
	.box-shadow(inset 0 2px 1px rgba(0, 0, 0, 0.2));
	
	&.large-grade {
		font-size: 18px;
	}
	
	&.grade-a {
		background-color: @lighterGreen;
	}
	
	p {
		color: @white;
		font-size: 32px;
		font-weight: bold;
		line-height: 45px;
		text-transform: uppercase;
		text-align: center;
	}
}

.letter-grade-a {
	color: @lighterGreen;
}

span.title {
	color: #454545;
	font-weight: 600;
}

p {
	
	&.overall {
		font-size: 15px;
		line-height: 20px;
	}
	
	&.date {
		height: 45px;
		line-height: 40px;
	}
}

.info-review {
	height: 388px;
	display: table-cell;
	vertical-align: middle;
}

.neighborhood-activity {
	
	.activity-item {
		border-bottom: 1px solid @grayLighter;
		padding: 15px 0 10px 0;
		
		&:last-child {
			border-bottom: 0;
		}
	}
	
	h3 {
		margin: 0;
		font-size: 20px;
		line-height: 23px;
	}
	
	p {
		margin-bottom: 2px;
		
		&.name {
			font-size: 15px;
			font-weight: 600;
		}
		
		span {
			font-weight: 400;
		}
		
		&.comp-name {
			font-size: 14px;
		}
		
		&.hour {
			margin-bottom: 15px;
		}
	}
	
} // .neighborhood-activity

ul.list-search {
	float: left;
	font-weight: 600;
	
	li {
		list-style: none;
		
		a {
			color: @black;
		}
	}
	
	.category-heading {
		margin-bottom: 5px;
		font-size: 17px;
		color: @angiesGreen;
	}
}