.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* General */
.mb-0 {
  margin-bottom: 0;
}
.mb-5 {
  margin-bottom: 5;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.ml-0 {
  margin-left: 0px;
}
.mr-10 {
  margin-right: 10px;
}
.pl-40 {
  padding-left: 40px;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
textarea {
  padding: 15px 12px;
  width: 270px;
  min-height: 80px;
}
.info-inline {
  color: #ec008c;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
}
.lightPink {
  color: #eb008c;
}
.mini-layout.bg-pattern {
  padding: 20px;
  height: auto;
  background: url(/assets/img/pattern-bg.png) repeat 0 0;
}
.mini-layout .row-fluid .span6 img {
  float: right;
}
.mini-layout p.head {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.25em;
}
.mini-layout.articles {
  padding: 0;
  margin-bottom: 5px;
  width: 300px;
  height: 450px;
}
.mini-layout.articles .article-body {
  padding: 25px 30px;
}
.mini-layout.articles.horizontal {
  width: auto;
  height: 98px;
  *zoom: 1;
}
.mini-layout.articles.horizontal:before,
.mini-layout.articles.horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}
.mini-layout.articles.horizontal:after {
  clear: both;
}
.mini-layout.articles.horizontal .media-body {
  margin-top: 5px;
}
.mini-layout.commerce {
  width: 550px;
  height: 50px;
  background: url(/assets/img/pattern-bg.png) repeat 0 0;
}
.mini-layout.commerce.deal {
  padding: 0;
  width: 440px;
  height: 120px;
}
.mini-layout.commerce i {
  float: left;
}
.mini-layout.commerce p.pull-left {
  margin-right: 10px;
}
.mini-layout div.tag {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.mini-layout.review-block {
  width: 300px;
}
.mini-layout div.al-grade {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.grey {
  color: #7b7b7b;
}
.medium-gray {
  color: #aaaaaa;
}
code.no-bg {
  border: 0px;
  padding: 2px 0px;
  background-color: transparent;
}
.left-caret,
.right-caret {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  content: "";
}
.left-caret {
  border-right: 5px solid #000;
}
.right-caret {
  border-left: 5px solid #000;
}
span.grade {
  display: block;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #ffffff;
  font-family: "museo-slab", Segoe, "Segoe UI", "Times New Roman", Times, serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
}
span.grade.a {
  background-color: #4db346;
}
span.grade.b {
  background-color: #29a036;
}
span.grade.c {
  background-color: #7b7b7b;
}
span.grade.d {
  background-color: #525252;
}
span.grade.f {
  background-color: #000000;
}
span.grade.na {
  background-color: #9c9c9c;
  font-size: 16px;
}
span.grade.featured {
  width: 100px;
  height: 100px;
  font-size: 70px;
  line-height: 100px;
}
span.grade.sm {
  width: 26px;
  height: 26px;
  font-size: 16px;
  line-height: 27px;
}
span.grade.sm.na {
  font-size: 10px;
}
span.grade.inline {
  display: inline;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: "proxima-nova", "Helvetica", Arial, sans-serif;
  font-size: inherit;
  line-height: inherit;
}
span.grade.inline.a {
  color: #4db346;
}
.modal {
  border: none;
}
section {
  padding-top: 50px;
}
.navbar-fixed-top .nav > li > a {
  font-size: 17px;
  font-weight: 700;
}
.navbar.basic .navbar-inner {
  min-height: auto;
  border-color: #e8e6dd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #fafaf5;
  background-image: -moz-linear-gradient(top, #fbfbf7, #f9f8f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbf7), to(#f9f8f2));
  background-image: -webkit-linear-gradient(top, #fbfbf7, #f9f8f2);
  background-image: -o-linear-gradient(top, #fbfbf7, #f9f8f2);
  background-image: linear-gradient(to bottom, #fbfbf7, #f9f8f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfbf7', endColorstr='#fff9f8f2', GradientType=0);
}
.navbar.basic .nav > li > a {
  border-left: 1px solid #e8e6dd;
  padding: 15px 25px;
  color: #7b7b7b;
  text-shadow: none;
}
.navbar.basic .nav > li:last-child > a {
  border-right: 1px solid #e8e6dd;
}
.navbar.basic .nav > .active > a,
.navbar.basic .nav > .active > a:hover,
.navbar.basic .nav > .active > a:focus {
  background-color: #EAE7DB;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.breadcrumb {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.breadcrumb > .active {
  color: #dddddd;
}
.pagination {
  position: relative;
  text-align: center;
}
.pagination > ul {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pagination > ul > .prev,
.pagination > ul > .next {
  position: absolute;
  top: 0;
}
.pagination > ul > .prev {
  left: 0;
}
.pagination > ul > .prev b {
  margin-right: 5px;
  border-right-color: #29a036;
}
.pagination > ul .next {
  right: 0;
}
.pagination > ul .next b {
  margin-left: 5px;
  border-left-color: #29a036;
}
.pagination > ul > li.active > a,
.pagination > ul > li.active > a:hover {
  padding: 1px 5px;
  border: 1px solid #e8e6dd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #F9F8F2;
  color: #7b7b7b;
}
.pagination > ul > li > a {
  border: none;
  padding: 2px 6px;
  font-weight: 600;
}
.pagination > ul > li > a:hover {
  border: none;
  background-color: #29a036;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
}
.pagination > ul > li > a:hover b {
  border-right-color: #ffffff;
  border-left-color: #ffffff;
}
.btn-group .btn,
.btn-group.open .btn {
  border: 1px solid #e8e6dd;
  background-color: #fafaf5 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #7b7b7b;
}
.btn-group .btn:hover,
.btn-group.open .btn:hover {
  border-bottom: 1px solid #b8b8b8;
  color: #000000;
}
.btn-group .btn.active,
.btn-group.open .btn.active {
  background-color: #eae7db !important;
  background-image: none;
  color: #7b7b7b;
}
.dropdown-menu > li > a {
  color: #aaaaaa;
}
.dropdown-menu > li > a:hover {
  color: #7b7b7b;
  background-color: #fee892;
  background-image: -moz-linear-gradient(top, #fee892, #fee892);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fee892), to(#fee892));
  background-image: -webkit-linear-gradient(top, #fee892, #fee892);
  background-image: -o-linear-gradient(top, #fee892, #fee892);
  background-image: linear-gradient(to bottom, #fee892, #fee892);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffee892', endColorstr='#fffee892', GradientType=0);
}
.btn-group > .btn > .caret {
  margin-left: 30px;
}
.btn > span.list,
.btn > span.map {
  padding: 2px 0 6px 28px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  line-height: 22px;
}
.btn > span.list {
  background-image: url(/assets/img/icn_list.png);
  background-position-y: 3px;
}
.btn > span.map {
  background-image: url(/assets/img/icn_map.png);
}
.recently-viewed {
  background-color: #f8f6ef;
  border: 1px solid #e8e6dd;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 1.1em 1em 1.4em 1em;
  width: 300px;
}
.recently-viewed h5,
.recently-viewed p {
  margin: 0;
}
.recently-viewed article {
  background: #fefefe;
  margin: 0 0 .6em 0;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: 1em;
  overflow: hidden;
}
.recently-viewed h6 {
  margin: 0 0 .4em 0;
}
.recently-viewed img {
  float: left;
  margin-right: .75em;
}
.recently-viewed p {
  margin: 0;
  line-height: 100%;
}
.recently-viewed .left {
  float: left;
}
.recently-viewed .right {
  float: right;
  color: #c2c2c2;
}
.recently-viewed footer {
  text-align: right;
  padding: .75em 1em 0 0;
}
.row-promo-single {
  *zoom: 1;
  padding: 20px 0;
}
.row-promo-single:before,
.row-promo-single:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-promo-single:after {
  clear: both;
}
.row-promo-single i,
.row-promo-single p {
  float: left;
  margin-top: 2px;
}
.row-promo-single i {
  margin-right: 5px;
}
.row-promo-single p {
  color: #aaaaaa;
  font-weight: 100;
  line-height: 35px;
}
.row-promo-single p strong {
  color: #7b7b7b;
  font-weight: 600;
}
.row-promo-single p em {
  font-style: normal;
  font-weight: 600;
}
.row-promo-single button {
  position: relative;
  top: -2px;
  left: 3px;
}
.row-promo-small {
  *zoom: 1;
}
.row-promo-small:before,
.row-promo-small:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-promo-small:after {
  clear: both;
}
.row-promo-small i {
  float: left;
  margin-right: 10px;
}
.row-promo-small > div {
  float: left;
}
.row-promo-small > div a {
  font-weight: 600;
}
.row-promo-small > div p {
  color: #aaaaaa;
  font-weight: 100;
}
.row-promo-small > div p em {
  font-style: normal;
  font-weight: 600;
}
.row-promo {
  *zoom: 1;
  padding: 15px 20px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: #ffeca6;
  background-image: -moz-linear-gradient(top, #fff0b4, #ffe690);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff0b4), to(#ffe690));
  background-image: -webkit-linear-gradient(top, #fff0b4, #ffe690);
  background-image: -o-linear-gradient(top, #fff0b4, #ffe690);
  background-image: linear-gradient(to bottom, #fff0b4, #ffe690);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff0b4', endColorstr='#ffffe690', GradientType=0);
}
.row-promo:before,
.row-promo:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-promo:after {
  clear: both;
}
.row-promo i {
  float: left;
  margin-right: 5px;
}
.row-promo p {
  float: left;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
}
.row-promo p strong {
  font-weight: 700;
}
.row-promo i,
.row-promo p {
  margin-top: 4px;
}
.row-promo .cta-block {
  float: right;
}
.row-promo .cta-block button {
  margin-left: 5px;
  font-weight: 700;
}
.row-promo.tablet i,
.row-promo.mobile i {
  display: none;
}
.row-promo.tablet p,
.row-promo.mobile p,
.row-promo.tablet .cta-block,
.row-promo.mobile .cta-block {
  float: none;
}
.row-promo.tablet p,
.row-promo.mobile p {
  margin-bottom: 13px;
  line-height: 22px;
}
.row-promo.tablet .cta-block,
.row-promo.mobile .cta-block {
  clear: both;
}
.row-promo.tablet .cta-block button,
.row-promo.mobile .cta-block button {
  margin: 0;
}
.row-promo.tablet p,
.row-promo.tablet .cta-block {
  text-align: center;
}
/* ====The Basics===== */
.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 180px;
  height: 80px;
  padding: 0 20px;
  color: #ffffff;
  display: table;
}
.box .box-content {
  display: table-cell;
  vertical-align: middle;
}
.box p {
  margin-bottom: 0;
}
.box p.head {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}
.box.angies-green {
  background-color: #29a036;
}
.box.darker-green {
  background-color: #227e2c;
}
.box.lighter-green {
  background-color: #4db346;
}
.box.angies-yellow {
  background-color: #f7c602;
}
.box.deals-purple {
  background-color: #79519a;
}
.box.medium-taupe {
  color: #7b7b7b;
  background-color: #eae7db;
}
.box.light-taupe,
.box.subtle-taupe,
.box.white {
  border: 1px solid #eae7db;
  color: #7b7b7b;
}
.box.light-taupe {
  background-color: #f9f8f2;
}
.box.subtle-taupe {
  background-color: #fbfbf8;
}
.box.black {
  background-color: #000000;
}
.box.dark-gray {
  background-color: #7b7b7b;
}
.box.medium-gray {
  background-color: #aaaaaa;
}
.box.light-gray {
  background-color: #dddddd;
}
.box.white {
  background-color: #ffffff;
}
.box.alert-red {
  background-color: #e2431e;
}
table.table-striped td {
  height: 35px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
table.table-striped.avatar td {
  text-align: left;
}
table.table-striped.map td:first-child {
  width: 120px;
}
[class*=" icn-"] {
  margin-top: 1px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 14px;
  vertical-align: text-top;
}
.icn {
  width: 35px;
  height: 35px;
  background-image: url(/assets/img/icon-set.png);
}
.icn.icn-ssa {
  background-position: 6px 1px;
}
.icn.icn-cash {
  background-position: -40px 7px;
}
.icn.icn-deal {
  background-position: -73px 5px;
}
.icn.icn-coup {
  background-position: 8px -51px;
}
.icn.icn-cal {
  background-position: -33px -54px;
}
.icn.icn-chat {
  background-position: -80px -60px;
}
.icn.icn-poh {
  background-position: 8px -113px;
}
.icn.icn-pen {
  background-position: -31px -115px;
}
.icn.icn-neighbour {
  background-position: -72px -115px;
}
.icn.icn-search-yellow {
  background-position: 0px -180px;
}
.icn.icn-search {
  background-position: -40px -180px;
}
.icn.icn-search-white {
  background-position: -69px -170px;
}
hr.w-50 {
  width: 50%;
}
input:-moz-placeholder {
  color: #aaaaaa;
}
input:-ms-input-placeholder {
  color: #aaaaaa;
}
input::-webkit-input-placeholder {
  color: #aaaaaa;
}
input:-moz-placeholder {
  font-style: italic;
  font-weight: 100;
}
input:-ms-input-placeholder {
  font-style: italic;
  font-weight: 100;
}
input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 100;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 8px 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 16px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 1px solid #e8e6dd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #dddddd;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.18);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.18);
}
textarea {
  padding: 15px 12px;
  line-height: 22px;
}
.help-block,
.help-inline {
  color: #7b7b7b;
  font-weight: 100;
}
.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #e2431e;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #e2431e;
  color: #e2431e;
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #e2431e;
  -webkit-box-shadow: 0 0 6px rgba(226, 67, 30, 0.5);
  -moz-box-shadow: 0 0 6px rgba(226, 67, 30, 0.5);
  box-shadow: 0 0 6px rgba(226, 67, 30, 0.5);
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #f8f6ef;
}
.bs-docs-example .logged-in {
  border-bottom: 1px solid #227e2c;
}
.bs-docs-example .logged-in:last-child {
  border-bottom: none;
}
.logged-in {
  padding: 20px;
  background-color: #29a036;
  text-align: right;
}
.logged-in a {
  margin: 0 0 0 2px;
  padding: 15px 10px;
}
.logged-in a:hover {
  text-decoration: none;
}
.logged-in .caret {
  margin-left: 3px;
  border-top-color: #227e2c;
  vertical-align: middle;
}
.logged-in span {
  color: #ffffff;
  font-weight: 400;
}
.logged-in span.notification {
  margin-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 8px;
  background-color: #e2431e;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.logged-in span.notification.yellow {
  color: #227e2c;
  background-color: #f7c602;
}
.logged-in span.notification.inactive {
  color: #7ac883;
  background-color: #227e2c;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}
.logged-in .mobile-icon {
  display: none;
  width: 27px;
  height: 21px;
  background-image: url(/assets/img/icon-set.png);
  background-repeat: no-repeat;
}
.logged-in .mobile-icon.profile-icon {
  background-position: 0 -240px;
}
.logged-in .mobile-icon.cart-icon {
  background-position: -40px -240px;
}
.logged-in .mobile-icon.cart-icon.inactive {
  background-position: -80px -240px;
}
.logged-in.mobile {
  padding: 10px;
}
.logged-in.mobile a {
  padding: 0;
}
.logged-in.mobile span.text {
  display: none;
}
.logged-in.mobile span.notification {
  position: relative;
  top: -5px;
  margin: 0;
}
.logged-in.mobile .mobile-icon {
  display: inline-block;
}
.modal-body {
  min-height: 260px;
}
/* ====Modules===== */
.price-tag .tag {
  float: left;
  background-image: url(/assets/img/price-tag.png);
  *zoom: 1;
}
.price-tag .tag:before,
.price-tag .tag:after {
  display: table;
  content: "";
  line-height: 0;
}
.price-tag .tag:after {
  clear: both;
}
.price-tag .tag.left {
  width: 17px;
  height: 25px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.price-tag .tag.mid {
  min-width: 35px;
  height: 25px;
  background-position: 0 -40px;
  background-repeat: repeat-x;
}
.price-tag .tag.right {
  width: 6px;
  height: 25px;
  background-position: right 0;
  background-repeat: no-repeat;
}
.price-tag span {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  line-height: 25px;
}
p.deal-head {
  font-size: 18px;
  font-weight: 700;
}
p.deal-head.lh {
  line-height: 35px;
}
p.art-head {
  color: #7b7b7b;
  font-size: 17px;
  font-weight: 400px;
  line-height: 18px;
}
a.more {
  padding-right: 12px;
  background-image: url(/assets/img/arrow-more.png);
  background-repeat: no-repeat;
  background-position: right 6px;
  color: #7b7b7b;
  display: inline-block;
  font-size: 13px;
}
.coupon-info {
  *zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 1px solid #d7d3c6;
  padding: 5px 10px;
  width: 125px;
  height: 30px;
  line-height: 32px;
  color: #7b7b7b;
  background-color: #f6f6f2;
  position: relative;
  left: 138px;
}
.coupon-info:before,
.coupon-info:after {
  display: table;
  content: "";
  line-height: 0;
}
.coupon-info:after {
  clear: both;
}
.coupon-info p {
  text-transform: uppercase;
}
.coupon-area {
  width: 450px;
  background-color: #ffffff;
  border: 1px solid #d7d3c6;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.coupon-area .arrow-coup {
  width: 25px;
  height: 22px;
  background-image: url(/assets/img/arrow-up-coupon.png);
  position: absolute;
  top: -21px;
  left: 200px;
}
.coupon-area .coupon-header,
.coupon-area .coupon-footer {
  padding: 9px 15px;
  background-color: #f6f6f2;
  border-bottom: 1px solid #dddddd;
}
.coupon-area .coupon-header h4 {
  padding-left: 25px;
  background-image: url(/assets/img/coup.png);
  background-repeat: no-repeat;
}
.coupon-area .coupon-body .dropdown li {
  padding: 20px;
}
.coupon-area .coupon-body .dropdown li.divider {
  padding: 0;
}
.coupon-area .coupon-body .dropdown li .cta {
  display: table;
}
.coupon-area .coupon-body .dropdown li .cta > div {
  height: 45px;
  display: table-cell;
  vertical-align: middle;
}
.coupon-area .coupon-body .dropdown .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  display: block;
  position: static;
}
.coupon-area .coupon-body .dropdown .dropdown-menu p {
  margin-bottom: 0px;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}
.coupon-area .coupon-body .dropdown .dropdown-menu .coup-txt {
  width: 350px;
  height: 45px;
  display: table;
}
.coupon-area .coupon-body .dropdown .dropdown-menu .coup-txt p {
  display: table-cell;
  vertical-align: middle;
}
.coupon-area .coupon-body .coupon-footer {
  border-top: 1px solid #dddddd;
  padding: 5px;
}
.review-block .date {
  float: right;
  color: #aaaaaa;
}
.review-block .heading {
  margin-bottom: 20px;
}
.review-block .heading h4 {
  margin-bottom: 5px;
}
.review-title {
  font-size: 17px;
}
.al-grade {
  float: left;
  margin-right: 10px;
  width: 47px;
  height: 47px;
  display: inline-block;
  font-family: museo-slab;
  font-weight: 700;
  vertical-align: middle;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
.al-grade.large-grade {
  font-size: 18px;
}
.al-grade.grade-a {
  background-color: #4db346;
}
.al-grade p {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center;
}
.letter-grade-a {
  color: #4db346;
}
span.title {
  color: #454545;
  font-weight: 600;
}
p.overall {
  font-size: 15px;
  line-height: 20px;
}
p.date {
  height: 45px;
  line-height: 40px;
}
.info-review {
  height: 388px;
  display: table-cell;
  vertical-align: middle;
}
.neighborhood-activity .activity-item {
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0 10px 0;
}
.neighborhood-activity .activity-item:last-child {
  border-bottom: 0;
}
.neighborhood-activity h3 {
  margin: 0;
  font-size: 20px;
  line-height: 23px;
}
.neighborhood-activity p {
  margin-bottom: 2px;
}
.neighborhood-activity p.name {
  font-size: 15px;
  font-weight: 600;
}
.neighborhood-activity p span {
  font-weight: 400;
}
.neighborhood-activity p.comp-name {
  font-size: 14px;
}
.neighborhood-activity p.hour {
  margin-bottom: 15px;
}
ul.list-search {
  float: left;
  font-weight: 600;
}
ul.list-search li {
  list-style: none;
}
ul.list-search li a {
  color: #000000;
}
ul.list-search .category-heading {
  margin-bottom: 5px;
  font-size: 17px;
  color: #29a036;
}
.thumbnail {
  border: 1px solid #e8e6dd;
  padding: 0;
  width: 300px;
  height: 198px;
  -webkit-box-shadow: 0px 2px 2px #ebebe7;
  -moz-box-shadow: 0px 2px 2px #ebebe7;
  box-shadow: 0px 2px 2px #ebebe7;
}
.thumbnail.medium {
  width: 194px;
  height: 128px;
}
.thumbnail.small {
  width: 140px;
  height: 92px;
}
.thumbnail.deal {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.thumbnail.deal.large {
  width: 200px;
  height: 200px;
}
.thumbnail.deal.small {
  width: 120px;
  height: 120px;
}
.marker {
  width: 115px;
  height: 34px;
  background-image: url(/assets/img/icon-set.png);
  background-repeat: no-repeat;
}
.marker.green {
  background-position: 50px -300px;
}
.marker.yellow {
  background-position: 50px -360px;
}
.marker.gray {
  background-position: 50px -420px;
}
.marker.map-review {
  background-position: 50px -480px;
}
.review-count {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}
.review-count span {
  font-size: 13px;
  font-style: italic;
  line-height: 16px;
}
.grade-lockup {
  *zoom: 1;
}
.grade-lockup:before,
.grade-lockup:after {
  display: table;
  content: "";
  line-height: 0;
}
.grade-lockup:after {
  clear: both;
}
.grade-lockup p,
.grade-lockup span {
  float: left;
}
.grade-lockup .grade.a {
  margin-left: 10px;
}
.grade-lockup .icon.icon-icn-coup {
  background-position: 0 -59px;
}
.grade-lockup h5 {
  margin: 0 0 5px 0;
}
.grade-lockup .provider {
  width: 250px;
}
.mobile .name-lockup div.header-lockup {
  padding-left: 0px;
}
.name-lockup div.header-lockup {
  padding: 0 0 0 75px;
}
.name-lockup h3 {
  margin-top: 0;
  line-height: 27px;
}
.name-lockup img.results-avatar {
  margin-right: 10px;
}
a.popover-reviews,
a.incognito {
  color: #000000;
}
a.popover-reviews:hover,
a.incognito:hover {
  color: #000000;
}
.coupon-count {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e8e6dd;
  padding: 3px 6px 3px 6px;
  background-color: #f3f3ef;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.coupon-count:hover {
  text-decoration: none;
}
.coupon-count .icon.icon-icn-coup {
  background-position: 8px -59px;
}
