.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
span.grade {
  display: block;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #ffffff;
  font-family: "museo-slab", Segoe, "Segoe UI", "Times New Roman", Times, serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
}
span.grade.a {
  background-color: #4db346;
}
span.grade.b {
  background-color: #29a036;
}
span.grade.c {
  background-color: #7b7b7b;
}
span.grade.d {
  background-color: #525252;
}
span.grade.f {
  background-color: #000000;
}
span.grade.na {
  background-color: #9c9c9c;
  font-size: 16px;
}
span.grade.featured {
  width: 100px;
  height: 100px;
  font-size: 70px;
  line-height: 100px;
}
span.grade.sm {
  width: 26px;
  height: 26px;
  font-size: 16px;
  line-height: 27px;
}
span.grade.sm.na {
  font-size: 10px;
}
span.grade.inline {
  display: inline;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: inherit;
  line-height: inherit;
}
span.grade.inline.a {
  color: #4db346;
}
