.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* General */
.mb-0 {
  margin-bottom: 0;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
h3,
h4 {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
h1 {
  font-family: "museo-slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
h3 {
  color: #525252;
}
h4 {
  margin-bottom: 0px;
}
p,
a {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 400;
}
/* Side Navigator */
.bs-docs-sidenav {
  width: 215px;
}
/* Content */
.navbar .nav > li > a {
  font-size: 17px;
  font-weight: 700;
}
p.lead {
  color: #ddd;
}
a {
  color: #29a036;
  display: inline-block;
}
a:hover {
  color: #29a036;
  text-decoration: none;
}
a.green-btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 25px;
  background-color: #3eaa4a;
  background-image: -moz-linear-gradient(top, #4aaf55, #2da23a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4aaf55), to(#2da23a));
  background-image: -webkit-linear-gradient(top, #4aaf55, #2da23a);
  background-image: -o-linear-gradient(top, #4aaf55, #2da23a);
  background-image: linear-gradient(to bottom, #4aaf55, #2da23a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4aaf55', endColorstr='#ff2da23a', GradientType=0);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
}
.mini-layout.bg-pattern {
  padding: 20px;
  height: 230px;
  background: url(/assets/img/pattern-bg.png) repeat 0 0;
}
.mini-layout h4 {
  margin-top: 0px;
}
.mini-layout .row-fluid .span6 img {
  float: right;
}
.grey {
  color: #7b7b7b;
}
code {
  border: 0px;
  padding: 2px 0px;
  background-color: transparent;
}
span.grade {
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #ffffff;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}
span.grade.a {
  background-color: #4db346;
}
span.grade.b {
  background-color: #29a036;
}
span.grade.c {
  background-color: #7b7b7b;
}
span.grade.d {
  background-color: #525252;
}
span.grade.f {
  background-color: #000;
}
span.grade.featured {
  width: 100px;
  height: 100px;
  font-size: 80px;
  line-height: 100px;
}
span.grade.sm {
  width: 26px;
  height: 26px;
  font-size: 18px;
  line-height: 26px;
}
span.grade.inline {
  display: inline;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: inherit;
}
span.grade.inline.a {
  color: #4db346;
}
