.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* General */
.mb-0 {
  margin-bottom: 0;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mini-layout.bg-pattern {
  padding: 20px;
  height: auto;
  background: url(/assets/img/pattern-bg.png) repeat 0 0;
}
.mini-layout .row-fluid .span6 img {
  float: right;
}
.mini-layout p.head {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.25em;
}
.grey {
  color: #7b7b7b;
}
code.no-bg {
  border: 0px;
  padding: 2px 0px;
  background-color: transparent;
}
span.grade {
  display: block;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #ffffff;
  font-family: "museo-slab", Segoe, "Segoe UI", "Times New Roman", Times, serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
}
span.grade.a {
  background-color: #4db346;
}
span.grade.b {
  background-color: #29a036;
}
span.grade.c {
  background-color: #7b7b7b;
}
span.grade.d {
  background-color: #525252;
}
span.grade.f {
  background-color: #000000;
}
span.grade.na {
  background-color: #9c9c9c;
  font-size: 16px;
}
span.grade.featured {
  width: 100px;
  height: 100px;
  font-size: 70px;
  line-height: 100px;
}
span.grade.sm {
  width: 26px;
  height: 26px;
  font-size: 16px;
  line-height: 27px;
}
span.grade.sm.na {
  font-size: 10px;
}
span.grade.inline {
  display: inline;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: "proxima-nova", "Helvetica", Arial, sans-serif;
  font-size: inherit;
  line-height: inherit;
}
span.grade.inline.a {
  color: #4db346;
}
.recently-viewed {
  background-color: #f8f6ef;
  border: 1px solid #e8e6dd;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 1.1em 1em 1.4em 1em;
  width: 300px;
}
.recently-viewed h5,
.recently-viewed p {
  margin: 0;
}
.recently-viewed article {
  background: #fefefe;
  margin: 0 0 .6em 0;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: 1em;
  overflow: hidden;
}
.recently-viewed h6 {
  margin: 0 0 .4em 0;
}
.recently-viewed img {
  float: left;
  margin-right: .75em;
}
.recently-viewed p {
  margin: 0;
  line-height: 100%;
}
.recently-viewed .left {
  float: left;
}
.recently-viewed .right {
  float: right;
  color: #c2c2c2;
}
.recently-viewed footer {
  text-align: right;
  padding: .75em 1em 0 0;
}
.row-promo-single {
  padding: 20px 0;
}
.row-promo {
  *zoom: 1;
  padding: 15px 20px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: #ffeca6;
  background-image: -moz-linear-gradient(top, #fff0b4, #ffe690);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff0b4), to(#ffe690));
  background-image: -webkit-linear-gradient(top, #fff0b4, #ffe690);
  background-image: -o-linear-gradient(top, #fff0b4, #ffe690);
  background-image: linear-gradient(to bottom, #fff0b4, #ffe690);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff0b4', endColorstr='#ffffe690', GradientType=0);
}
.row-promo:before,
.row-promo:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-promo:after {
  clear: both;
}
.row-promo i {
  float: left;
  margin-right: 5px;
}
.row-promo h5 {
  float: left;
  margin: 0;
  font-weight: 600;
  line-height: 35px;
}
.row-promo .cta-block {
  float: right;
}
.row-promo .cta-block button {
  margin-left: 5px;
}
.row-promo.tablet i,
.row-promo.mobile i {
  display: none;
}
.row-promo.tablet h5,
.row-promo.mobile h5,
.row-promo.tablet .cta-block,
.row-promo.mobile .cta-block {
  float: none;
}
.row-promo.tablet .cta-block,
.row-promo.mobile .cta-block {
  clear: both;
}
.row-promo.tablet .cta-block button,
.row-promo.mobile .cta-block button {
  margin: 0;
}
.row-promo.tablet h5,
.row-promo.tablet .cta-block {
  text-align: center;
}
.toggle-group a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-left: 1.25em;
  padding-right: 1.25em;
}
.toggle-group .active {
  cursor: default;
}
.toggle-group .active:hover {
  color: #585239;
  background-color: #eae7db;
}
.toggle-group .active:active {
  color: #585239;
}
.toggle-group a:first-child {
  border-right: none;
  -webkit-border-radius: 0.4em 0 0 0.4em;
  -moz-border-radius: 0.4em 0 0 0.4em;
  border-radius: 0.4em 0 0 0.4em;
}
.toggle-group a:last-child {
  -webkit-border-radius: 0 0.4em 0.4em 0;
  -moz-border-radius: 0 0.4em 0.4em 0;
  border-radius: 0 0.4em 0.4em 0;
}
.toggle-group .flyout {
  position: absolute;
  top: 0;
  left: 0;
}
.list-btn .icon {
  background-image: url(/assets/img/icn_list_inactive.png);
}
.map-btn .icon {
  background-image: url(/assets/img/icn_map_inactive.png);
}
.active.list-btn .icon {
  background-image: url(/assets/img/icn_list.png);
}
.active.map-btn .icon {
  background-image: url(/assets/img/icn_map.png);
}
.list-btn .icon,
.map-btn .icon {
  line-height: 160%;
  padding: 0 0 0 1.6em;
  margin: -0.6em 0 -0.5em 0;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.ui-btn {
  border: 1px solid #e8e6dd;
  padding: .7em .6em .6em .65em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  font-weight: 600;
  font-size: 150%;
  text-align: left;
  line-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fafaf5;
  background-image: -moz-linear-gradient(top, #fbfbf7, #f9f8f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbf7), to(#f9f8f2));
  background-image: -webkit-linear-gradient(top, #fbfbf7, #f9f8f2);
  background-image: -o-linear-gradient(top, #fbfbf7, #f9f8f2);
  background-image: linear-gradient(to bottom, #fbfbf7, #f9f8f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfbf7', endColorstr='#fff9f8f2', GradientType=0);
  color: #7b7b7b;
}
.ui-btn:link {
  color: #7b7b7b;
}
.ui-btn:visited {
  color: #7b7b7b;
}
.ui-btn:hover {
  color: #454545;
  background-color: #fefefe;
  border-color: #e8e6dd;
}
.ui-btn:active {
  color: #454545;
}
.ui-btn.active {
  background: #eae7db none;
  border-color: #d5d0c3;
  color: #585239;
}
.ui-btn.active:hover {
  color: #585239;
  background-color: #eae7db;
}
/* ====The Basics===== */
.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 180px;
  height: 80px;
  padding: 0 20px;
  color: #ffffff;
  display: table;
}
.box .box-content {
  display: table-cell;
  vertical-align: middle;
}
.box p {
  margin-bottom: 0;
}
.box p.head {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}
.box.angies-green {
  background-color: #29a036;
}
.box.darker-green {
  background-color: #227e2c;
}
.box.lighter-green {
  background-color: #4db346;
}
.box.angies-yellow {
  background-color: #f7c602;
}
.box.deals-purple {
  background-color: #79519a;
}
.box.medium-taupe {
  color: #7b7b7b;
  background-color: #eae7db;
}
.box.light-taupe,
.box.subtle-taupe,
.box.white {
  border: 1px solid #eae7db;
  color: #7b7b7b;
}
.box.light-taupe {
  background-color: #f9f8f2;
}
.box.subtle-taupe {
  background-color: #fbfbf8;
}
.box.black {
  background-color: #000000;
}
.box.dark-gray {
  background-color: #7b7b7b;
}
.box.medium-gray {
  background-color: #aaaaaa;
}
.box.light-gray {
  background-color: #dddddd;
}
.box.white {
  background-color: #ffffff;
}
.box.alert-red {
  background-color: #e2431e;
}
table.table-striped td {
  height: 35px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.icon {
  width: 35px;
  height: 35px;
  background-image: url(/assets/img/icon-set.png);
}
.icon.icon-icn-ssa {
  background-position: 6px 1px;
}
.icon.icon-icn-cash {
  background-position: -40px 7px;
}
.icon.icon-icn-deal {
  background-position: -73px 5px;
}
.icon.icon-icn-coup {
  background-position: 8px -51px;
}
.icon.icon-icn-cal {
  background-position: -33px -54px;
}
.icon.icon-icn-chat {
  background-position: -80px -60px;
}
.icon.icon-icn-poh {
  background-position: 8px -113px;
}
.icon.icon-icn-pen {
  background-position: -31px -115px;
}
.icon.icon-icn-neighbour {
  background-position: -72px -115px;
}
.icon.icon-icn-search-yellow {
  background-position: 0px -180px;
}
.icon.icon-icn-search {
  background-position: -40px -180px;
}
.icon.icon-icn-search-white {
  background-position: -69px -170px;
}
